html,
body {
  font-family: "Open Sans", Verdana, sans-serif;
  background-color: #fafafa;
  margin: 0% 5% 0% 5%;
  padding: 0;
}

* {
  box-sizing: border-box;
}

header {
  top: 0;
}

h1 {
  font-family: "Cairo", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  display: inline-block;
  position: absolute;
  color: white;
  background-color: lightslategray;
  padding: 0px 10px;
  margin: 0;
  bottom: 0;
}

h2 {
  font-family: "Cairo", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn {
  font-family: "Cairo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  width: 120px;
  height: 40px;
  background-color: lightslategray;
  color: white;
  border: 2px solid #1273eb;
  border-radius: 4px;
  transition: 0.3s ease-in;
}

.btn:hover {
  background-color: #5f6f7e;
}

.logo {
  display: inline-block;
  position: absolute;
  background-size: contain;
  padding: 0px;
  margin: 0px;
  background-repeat: no-repeat;
  z-index: 5;
}

#hamburger-menu {
  display: none;
}

.hamburger-label {
  display: none;
}

nav {
  display: block;
  padding: 0%;
  min-width: 60%;
  margin: 0vh 0vh 0vh 0vh;
  background-color: white;
}

nav ul {
  display: block;
  padding: 0%;
  margin: 0%;
}

nav li {
  display: inline-block;
  margin: 0%;
  padding: 2%;
}

nav a {
  font-family: "Cairo", sans-serif;
  color: #626657;
  font-weight: 600;
  padding: 6% 14% 6% 14%;
  text-decoration: none;
  display: inline block;
  text-align: center;
}

.nav-active {
  border: 2px solid #626657;
  border-radius: 10%;
}

.hover-nav:hover {
  border-bottom: 2px solid #626657;
  border-radius: 0%;
}

/* INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX START*/
.tagline-background-container {
  position: relative;
  display: block;
  padding: 0px;
  margin: 0px;
  height: 64vh;
}

.tagline-background {
  background-image: url("../images/picture_home_tablet_web.jpg");
  display: block;
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-repeat: no-repeat;
  /*opacity: 0.6;*/
  z-index: 3;
}

.tagline {
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  position: absolute;
  display: block;
  font-size: 3rem;
  color: white;
  /*padding: 0px 8px 0px 8px;*/
  z-index: 5;
}

.tagline-first-line {
  top: 22%;
  left: 34%;
}

.tagline-second-line {
  font-size: 2rem;
  top: 36%;
  left: 42%;
  font-style: italic;
}

.tagline-earth-icon {
  background-image: url("../images/picture_earth.png");
  display: block;
  position: absolute;
  background-size: cover;
  width: 55px;
  height: 55px;
  padding: 0px;
  margin: 0px;
  background-repeat: no-repeat;
  top: 50%;
  left: 46%;
  z-index: 5;
}

p {
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 300;
  line-height: 130%;
  text-decoration: none;
  text-align: left;
}

/* crazy waves section */
.crazy-waves-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  min-height: 60vh;
  padding: 0px;
  background-color: black;
}

.crazy-waves-item {
  flex-basis: 50%;
  width: 50%;
  height: 330px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0px;
  border: 1px solid black;
}

.crazy-waves-item1 {
  background-image: url("../images/Home_crazySpots_pictures/picture_home_crazySpots_black_white_overlay_leftTop_web.jpg");
}

.crazy-waves-item2 {
  background-image: url("../images/Home_crazySpots_pictures/picture_home_crazySpots_black_white_rightTop_web.jpg");
}

.crazy-waves-item3 {
  background-image: url("../images/Home_crazySpots_pictures/picture_home_crazySpots_black_white_overlay_leftBottom_web.jpg");
}

.crazy-waves-item4 {
  background-image: url("../images/Home_crazySpots_pictures/picture_home_crazySpots_black_white_rightBottom_web.jpg");
}

.tagline-crazy-waves-header {
  cursor: pointer;
  position: relative;
  color: #626657;
  margin-top: 16%;
  margin-left: 10%;
}

.crazy-waves-list {
  counter-reset: list-counter;
  list-style: none;
}

.crazy-waves-list li {
  margin: 1% 4%;
}

.crazy-waves-list li:first-child {
  margin-top: 8%;
}

.crazy-waves-list li:before {
  content: counter(list-counter);
  counter-increment: list-counter;
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  margin-right: 1rem;
  border: 0.25rem solid #626657;
  background: #000;
  color: white;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}

.crazy-waves-list li a {
  cursor: pointer;
  font-family: "Cairo", sans-serif;
  color: #626657;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  display: inline block;
  text-align: center;
}

/* Modal for three crazy waves section */
.modal-slideshow-crazy-waves-container {
  display: none;
  position: fixed;
  z-index: 8;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

.crazy-waves-modal-close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 35px;
  color: black;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
}

.crazy-waves-modal-close:hover {
  color: #5f6f7e;
}

.modal-slideshow-crazy-waves-mySlides {
  display: none;
}

.modal-slideshow-crazy-waves-title {
  border-bottom: 1px solid lightgray;
  text-align: center;
  color: #1273eb;
}

.crazy-waves-spesific-flex-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}

.crazy-waves-spesific-flex-item-slide1-item1 {
  background-image: url("../images/Home_crazySpots_pictures/picture_home_crazySpots_world_map_bearIsland.jpg");
  flex-basis: 30%;
  width: 30%;
  height: 330px;
  background-size: 100% 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.crazy-waves-spesific-flex-item-slide2-item1 {
  background-image: url("../images/Home_crazySpots_pictures/picture_home_crazySpots_world_map_munich.jpg");
  flex-basis: 30%;
  width: 30%;
  height: 330px;
  background-size: 100% 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.crazy-waves-spesific-flex-item-slide3-item1 {
  background-image: url("../images/Home_crazySpots_pictures/picture_home_crazySpots_world_map_skeleton.jpg");
  flex-basis: 30%;
  width: 30%;
  height: 330px;
  background-size: 100% 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.crazy-waves-spesific-flex-item-slide1-item2 {
  background-image: url("../images/Home_crazySpots_pictures/picture_home_crazySpots_bear_island_web.jpg");
  flex-basis: 50%;
  width: 50%;
  height: 330px;
  background-size: contain;
  background-position: center center;
  flex-grow: 2;
  background-repeat: no-repeat;
  margin: 0px;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.crazy-waves-spesific-flex-item-slide2-item2 {
  background-image: url("../images/Home_crazySpots_pictures/picture_home_crazySpots_munich_web.jpg");
  flex-basis: 50%;
  width: 50%;
  height: 330px;
  background-size: contain;
  background-position: center center;
  flex-grow: 2;
  background-repeat: no-repeat;
  margin: 0px;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.crazy-waves-spesific-flex-item-slide3-item2 {
  background-image: url("../images/Home_crazySpots_pictures/picture_home_crazySpots_skeleton_web.jpg");
  flex-basis: 50%;
  width: 50%;
  height: 330px;
  background-size: contain;
  background-position: center center;
  flex-grow: 2;
  background-repeat: no-repeat;
  margin: 0px;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.crazy-waves-spesific-flex-item-item3 {
  flex-basis: 30%;
  width: 30%;
  margin: 0px;
  padding: 10px;
}

.crazy-waves-spesific-flex-item-item4 {
  padding: 10px;
  flex-basis: 50%;
  width: 50%;
  flex-grow: 2;
  margin: 0px;
  border-left: 1px solid lightgray;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 0%;
  padding: 0%;
  background-color: white;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin-top: 4%;
}

.mySlides1,
.mySlides2,
.mySlides3,
.mySlides4 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  background-color: white;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #1273eb;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: lightgray;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/4 etc) */
.numbertext {
  font-family: "Oxygen", sans-serif;
  color: #626657;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 4%;
}

.dot-container {
  padding: 2% 0%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.post-item {
  flex-direction: column;
  flex-basis: 100%;
  max-width: 350px;
  margin: 2% 1% 2% 1%;
  text-decoration: none;
  transition: 0.4s ease-in;
}

.post-item:hover {
  transform: scale(1.02);
  border-bottom: 1px solid lightgray;
}

.post-image {
  height: 250px;
  opacity: 0.8;
  background-size: cover;
  background-position: center top;
  margin: 0%;
  padding: 0%;
}

.post-title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  text-align: center;
  color: #626657;
}

.post-dates {
  color: #717171;
  font-size: 1.2rem;
}

/* INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX END*/

/* BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG START*/
.search-container {
  display: flex;
  flex-direction: column nowrap;
  justify-content: flex-end;
  margin-top: 20px;
}
.search-container input[type="text"] {
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  color: black;
  display: inline-block;
  height: 40px;
  padding: 5px;
  border: 1px solid darkgray;
  border-radius: 4px;
}

.search-container i {
  position: relative;
  cursor: pointer;
  right: 25px;
  top: 12px;
  opacity: 0;
}

.search-button {
  display: inline-block;
  margin-right: 40px;
  margin-left: 10px;
}

.blog-container {
  position: relative;
  width: 100%;
  min-height: 30vh;
  margin: 0%;
  padding: 0%;
}

.blog-results {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-top: 2%;
  /*border: 1px solid black;*/
}

.blog-item {
  flex-basis: 100%;
  display: flex;
  margin: 0% 0% 0% 0%;
  padding: 0%;
  text-decoration: none;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.blog-image {
  display: inline-block;
  height: 35vh;
  width: 40%;
  opacity: 0.7;
  background-size: cover;
  background-position: left center;
  margin: 0%;
  padding: 0%;
}

.blog-details {
  display: inline-block;
  width: 40%;
  padding: 0%;
  margin-left: 4%;
  position: top;
}

.blog-title {
  font-size: 2rem;
  border-bottom: 1px solid lightgray;
  margin-bottom: 0.75rem;
  text-align: left;
  color: #1273eb;
}

.blog-dates {
  color: #717171;
  font-size: 1.2rem;
  padding: 0%;
}

.load-more-button {
  margin: 20px 0% 20px 46%;
}

/* BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG END*/

/* BLOG-SPESIFIC BLOG-SPESIFIC BLOG-SPESIFIC BLOG-SPESIFIC START*/

.blog-spesific-container {
  position: relative;
  width: 100%;
  min-height: 30vh;
  margin: 0%;
  padding: 0%;
}

.blog-spesific-item {
  margin: 2% 0% 0% 0%;
  background-color: white;
  padding: 65px 0px 65px 0px;
}

.blog-spesific-title {
  font-size: 2rem;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid lightgray;
  color: #626657;
}

.paragraph-rules-blog-spesific {
  display: block;
  width: 50%;
  margin: 0% 0% 30px 25%;
  padding: 0px;
}

.blog-spesific-image {
  display: block;
  margin-top: 0%;
  margin-bottom: 30px;
  padding: 0%;
}

.blog-spesific-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  padding: 0%;
  width: 50%;
  background-size: contain;
  cursor: pointer;
  transition: 0.3s;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 8; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: white;
  padding: 10px 0;
  height: 150px;
}

/* The Close Button */
.close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

figcaption {
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  color: #626657;
  font-weight: 300;
  text-align: center;
}

.blog-spesific-quote {
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  color: #626657;
  font-weight: 700;
  display: block;
  border-left: 5px solid #1273eb;
  width: 60%;
  padding: 0% 0% 0% 10px;
  margin: 0% 0% 30px 20%;
}

.blog-spesific-quote p {
  font-family: "Oxygen", sans-serif;
  font-size: 1.5rem;
  color: #626657;
  font-weight: 300;
}

.blog-spesific-dates {
  color: #717171;
  font-size: 1.2rem;
  padding: 30px 0% 0% 0%;
  margin-left: 25%;
}

/* BLOG-SPESIFIC BLOG-SPESIFIC BLOG-SPESIFIC BLOG-SPESIFIC END*/

/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT START*/
.postcards-container {
  width: 100%;
  min-height: 50vh;
  position: relative;
  margin: 0px;
  padding: 0px;
  background-color: #f8f8f8;
  -moz-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1);
}

.postcard {
  display: block;
  position: absolute;
  background-size: cover;
  width: 180px;
  height: 200px;
  padding: 0px;
  margin: 0px;
  background-repeat: no-repeat;
  border: 8px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.postcard1 {
  background-image: url("../images/About_pictures/picture_about_photo1_web.jpg");
  top: 15%;
  left: 30%;
  z-index: 3;
  transform: rotate(-20deg);
}

.postcard2 {
  background-image: url("../images/About_pictures/picture_about_photo2_web.jpg");
  top: 15%;
  left: 45%;
  z-index: 2;
  transform: rotate(-5deg);
}

.postcard3 {
  background-image: url("../images/About_pictures/picture_about_photo3_web.jpg");
  top: 30%;
  left: 55%;
  z-index: 2;
  transform: rotate(10deg);
}

.about-content-container {
  background-color: white;
  margin: 0px;
  padding: 0px 0px 65px 0px;
}

.paragraph-rules-about {
  width: 50%;
  margin: 0% 0% 30px 25%;
  padding: 0px;
}

.about-content-container .paragraph-rules-about:first-child {
  padding-top: 65px;
}
.about-content-container .paragraph-rules-about:last-child {
  margin-bottom: 0px;
  padding-bottom: 65px;
}

.profile-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-height: 20vh;
  width: 50%;
  margin-left: 25%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.profile-picture {
  background-image: url("../images/About_pictures/picture_about_profil_web.jpg");
  width: 100px;
  height: 95px;
  display: inline-block;
  background-size: contain;
  padding: 0px;
  margin: 4% 0% 4% 4%;
  background-repeat: no-repeat;
  border: 4px solid #f8f8f8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-content-container {
  display: inline-block;
  width: 50%;
  margin-left: 5%;
}

.profil-header {
  font-weight: 600;
  font-size: 0.8rem;
}

.profil-text {
  font-size: 0.8rem;
}
/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT END*/

/* CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT START*/
.contact-container {
  position: relative;
  /*height: 75vh;*/
  width: 100%;
  min-height: 30vh;
  margin: 2% 0% 0% 0%;
  padding: 60px 0px 120px 0px;
  background-color: white;
}

.contacForm-container {
  background-color: rgb(18, 115, 235, 0.2);
  padding: 20px 0px;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
}

.form-part {
  border-bottom: 1px dashed #626657;
  width: 80%;
  padding: 10px 0px;
  margin: 0% 0% 0% 10%;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
}

#form-part1 {
  order: 1;
}
#form-part2 {
  order: 2;
}
#form-part3 {
  order: 3;
}
#form-part4 {
  order: 4;
}
#form-part5 {
  order: 99;
}

.form-part:last-child {
  border-bottom: none;
}

.form-subject {
  display: inline-block;
  width: 40%;
}

.form-input {
  display: inline-block;
  width: 50%;
}

form .formFirstLine {
  display: block;
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 400;
  margin-left: 10%;
}

form .formSecondLine {
  display: block;
  font-family: "Oxygen", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  color: #626657;
  /*border: 1px solid black;*/
  margin-left: 10%;
}

form input[type="text"],
form input[type="email"],
form textarea {
  border: 1px solid darkgray;
  border-radius: 4px;
  width: 90%;
}

.form-input input {
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  color: black;
  display: inline-block;
  height: 40px;
  padding: 5px;
}

.form-input textarea {
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  color: black;
  display: inline-block;
  height: 80px;
  padding: 5px;
  resize: none;
}

#fullNameError,
#emailError,
#subjectError,
#messageError {
  display: none;
}

.form-error {
  font-size: 0.8rem;
  display: inline-block;
  width: 90%;
  color: red;
  margin-left: 0%;
  margin-top: 0%;
  border-bottom: 1px solid darkgray;
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  background-color: white;
}

.form-accept {
  color: green;
  float: right;
  width: 16px;
  margin-top: 1%;
}

#nameAccept,
#emailAccept,
#subjectAccept,
#messageAccept {
  display: none;
}

.submit-button-container {
  width: 100%;
}

.contact-button {
  position: relative;
  float: right;
  /*margin-top: 4%;*/
  margin-right: 15%;
  /*margin: 70px 0% 40px 62%;*/
}

.success-container {
  margin-top: 2%;
  width: 100%;
  background-color: white;
  min-height: 65vh;
  font-size: 2.5rem;
  padding: 15%;
  font-family: "Oxygen", sans-serif;
  color: lightslategray;
}

.home-button {
  margin: 100px 0px 30px 0px;
  text-decoration: none;
  padding: 5px 20px;
}

/* CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT END*/

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER START*/
footer {
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  background-color: lightslategray;
  min-height: 15vh;
  padding-top: 6%;
  text-align: center;
}

.project-link:link {
  color: white;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER END*/

/* MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC START*/
.loader {
  position: absolute;
  left: -10%;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #1273eb;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin-left: 50%;
  transform: translateX(-50%);
}

.error {
  width: 700px;
  height: 500px;
  font-family: "Oxygen", sans-serif;
  font-size: 1.5rem;
  border: 1px solid lightcoral;
  color: black;
  background: #fafafa;
  padding: 1em;
  background-image: url("../images/picture_error_tablet_web.jpg");
  display: block;
  position: relative;
  background-size: cover;
}

.error:before {
  display: block;
  font-family: "Oxygen", sans-serif;
  font-size: 2rem;
  content: "OOpsss, An error occurred.";
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC END*/

@media (min-width: 1030px) {
  .logo {
    background-image: url("../images/logo_pad_web.png");
    left: 13.5%;
    top: 1%;
    width: 120px;
    height: 60px;
  }
  nav ul {
    margin-left: 50%;
    padding: 1% 0%;
  }

  nav li {
    margin: 0% 4%;
  }
}

@media (min-width: 600px) and (max-width: 1029px) {
  html,
  body {
    margin: 0% 0% 0% 0%;
  }
  .logo {
    background-image: url("../images/logo_pad_web.png");
    left: 5%;
    top: 6.4vh;
    width: 120px;
    height: 60px;
  }
  nav {
    display: block;
    position: absolute;
    z-index: 6;
    margin: 0%;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: lightslategray;
    border-radius: 0% 0% 0% 60%;
    transition: border-radius 1s ease-in;
  }

  .costum-menu {
    position: absolute;
    margin-left: 85%;
    margin-top: 4.35vh;
    width: 40px;
    height: 40px;
    background-color: white;
    display: inline-block;
    top: 10px;
    z-index: 7;
  }

  .costum-menu i {
    position: absolute;
    display: block;
    height: 2px;
    background: #626657;
    width: 30px;
    left: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .costum-menu i:nth-child(1) {
    top: 12px;
  }

  .costum-menu i:nth-child(2) {
    top: 20px;
  }

  .costum-menu i:nth-child(3) {
    top: 28px;
  }

  .costum-menu .active:nth-child(1) {
    top: 20px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }
  .costum-menu .active:nth-child(2) {
    background: transparent;
  }
  .costum-menu .active:nth-child(3) {
    top: 20px;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
  }

  /*.hamburger-label {
    position: absolute;
    margin-left: 85%;
    margin-top: 4.35vh;
    color: #626657;
    background-color: white;
    padding: 5px 10px;
    font-size: 1.5rem;
    display: block;
    z-index: 7;
  }*/

  nav ul {
    margin-top: 0%;
    transition: margin-top 1s ease-in;
  }

  nav li {
    display: block;
    margin: 0%;
    padding: 2%;
    text-align: center;
  }

  nav ul li:last-child {
    margin-left: 30%;
    transition: margin-left 2s 1s;
  }

  nav a {
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    padding: 0% 2% 0% 2%;
    text-decoration: none;
    text-align: center;
  }

  .nav-active {
    border: 2px solid white;
  }

  .hover-nav:hover {
    border-bottom: 2px solid white;
  }

  #hamburger-menu:checked ~ nav {
    left: 0%;
    border-radius: 0% 0% 0% 0%;
  }
  #hamburger-menu:checked ~ nav ul {
    margin-top: 10%;
  }

  #hamburger-menu:checked ~ nav ul li:last-child {
    margin-left: 0%;
  }

  /* INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX START MIDDLESCREEN*/

  .mySlides1,
  .mySlides2,
  .mySlides3,
  .mySlides4 {
    flex-flow: row nowrap;
  }

  .post-item {
    flex-basis: 100%;
    max-width: 350px;
    margin: 2% 1% 2% 1%;
  }

  .post-image {
    height: 150px;
  }

  .post-title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }

  .post-dates {
    font-size: 1rem;
  }

  .prev,
  .next {
    padding: 12px;
    font-size: 12px;
  }

  /* INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX STOP MIDDLESCREEN*/

  /* BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG START MIDDLESCREEN*/
  .search-container {
    margin-bottom: 50px;
    margin-right: 50px;
  }
  .blog-container {
    margin: 0%;
    padding-top: 15%;
    background-color: white;
  }

  .blog-results {
    margin-top: 0%;
  }

  .blog-item:first-child {
    border-top: 1px solid lightgray;
  }

  /* BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG STOP MIDDLESCREEN*/

  /* CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT MIDDLESCREEN START*/
  .contact-container {
    margin: 0% 0% 0% 0%;
    padding: 190px 0px 120px 0px;
  }

  /* CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT MIDDLESCREEN END*/
}

@media (max-width: 599px) {
  html,
  body {
    margin: 0% 0% 0% 0%;
  }

  h1 {
    font-size: 1.2rem;
  }

  .btn {
    width: 100px;
    height: 40px;
    border: 2px solid #1273eb;
  }

  .logo {
    background-image: url("../images/logo_mobile.png");
    left: 5%;
    top: 3vh;
    width: 90px;
    height: 45px;
  }
  nav {
    display: block;
    position: absolute;
    z-index: 6;
    margin: 0%;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: lightslategray;
    border-radius: 0% 0% 0% 60%;
    transition: border-radius 1s ease-in;
  }

  .costum-menu {
    position: absolute;
    margin-left: 85%;
    margin-top: 2vh;
    width: 40px;
    height: 40px;
    background-color: white;
    display: inline-block;
    top: 10px;
    z-index: 7;
  }

  .costum-menu i {
    position: absolute;
    display: block;
    height: 1px;
    background: #626657;
    width: 30px;
    left: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .costum-menu i:nth-child(1) {
    top: 12px;
  }

  .costum-menu i:nth-child(2) {
    top: 20px;
  }

  .costum-menu i:nth-child(3) {
    top: 28px;
  }

  .costum-menu .active:nth-child(1) {
    top: 20px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }
  .costum-menu .active:nth-child(2) {
    background: transparent;
  }
  .costum-menu .active:nth-child(3) {
    top: 20px;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
  }

  /*.hamburger-label {
    position: absolute;
    margin-left: 85%;
    margin-top: 4.35vh;
    color: #626657;
    background-color: white;
    padding: 5px 10px;
    font-size: 1rem;
    display: block;
    z-index: 7;
  }*/

  nav ul {
    margin-top: 0%;
    transition: margin-top 1s ease-in;
  }

  nav li {
    display: block;
    margin: 0%;
    padding: 2%;
    text-align: center;
  }

  nav ul li:last-child {
    margin-left: 30%;
    transition: margin-left 2s 1s;
  }

  nav a {
    font-size: 1rem;
    color: white;
    font-weight: 600;
    padding: 0% 2% 0% 2%;
    text-decoration: none;
    text-align: center;
  }

  .nav-active {
    border: 2px solid white;
  }

  .hover-nav:hover {
    border-bottom: 2px solid white;
  }

  #hamburger-menu:checked ~ nav {
    left: 0%;
    border-radius: 0% 0% 0% 0%;
  }
  #hamburger-menu:checked ~ nav ul {
    margin-top: 10%;
  }

  #hamburger-menu:checked ~ nav ul li:last-child {
    margin-left: 0%;
  }

  /* INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX START LITTLESCREEN*/

  .tagline-background-container {
    height: 26vh;
  }
  .tagline-background {
    background-image: url("../images/picture_home_mobile.jpg");
  }

  .tagline {
    font-size: 1.5rem;
  }

  .tagline-first-line {
    top: 22%;
    left: 34%;
  }

  .tagline-second-line {
    font-size: 1rem;
    top: 38%;
    left: 42%;
  }

  .tagline-earth-icon {
    /*background-image: url("../images/picture_earth.png");
    display: block;
    position: absolute;
    background-size: cover;*/
    width: 40px;
    height: 40px;
    /*padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;*/
    top: 54%;
    left: 46%;
    /*z-index: 5;*/
  }

  /* crazy waves section */
  .crazy-waves-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: 60vh;
    padding: 0px;
    background-color: black;
  }

  .crazy-waves-item {
    flex-basis: 50%;
    width: 50%;
    height: 220px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0px;
    border: 1px solid black;
  }

  .crazy-waves-item1 {
    background-image: url("../images/Home_crazySpots_pictures/picture_home_crazySpots_black_white_overlay_leftTop_mobile.jpg");
  }

  .crazy-waves-item2 {
    background-image: url("../images/Home_crazySpots_pictures/picture_home_crazySpots_black_white_rightTop_mobile.jpg");
  }

  .crazy-waves-item3 {
    background-image: url("../images/Home_crazySpots_pictures/picture_home_crazySpots_black_white_overlay_leftBottom_mobile.jpg");
  }

  .crazy-waves-item4 {
    background-image: url("../images/Home_crazySpots_pictures/picture_home_crazySpots_black_white_rightBottom_mobile.jpg");
  }

  .tagline-crazy-waves-header {
    margin-top: 30%;
    margin-left: 10%;
    font-size: 1.2rem;
  }

  .crazy-waves-list {
    padding-left: 14px;
  }

  .crazy-waves-list li {
    display: block;
    text-align: left;
    margin: 1px 1px;
    padding: 4px 0% 0px 0%;
  }

  .crazy-waves-list li:first-child {
    margin-top: 4%;
  }

  .crazy-waves-list li:before {
    width: 0.5rem;
    height: 0.5rem;
    padding: 0.6rem;
    margin: 1px 8px 0px 0px;
    font-weight: 400;
    text-align: center;
  }

  .crazy-waves-list li a {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }

  /* Modal for three crazy waves section */
  .modal-slideshow-crazy-waves-container {
  }

  .crazy-waves-modal-close {
    color: black;
    font-size: 20px;
  }

  .crazy-waves-modal-close:hover {
  }

  .modal-slideshow-crazy-waves-mySlides {
  }

  .modal-slideshow-crazy-waves-title {
  }

  .crazy-waves-spesific-flex-container {
    flex-flow: column wrap;
    padding: 5px;
  }

  .crazy-waves-spesific-flex-item-slide1-item1 {
    background-image: url("../images/Home_crazySpots_pictures/picture_home_crazySpots_world_map_bearIsland.jpg");
    flex-basis: 400px;
    width: 400px;
    height: 400px;
    margin: 0px;
    padding: 0px;
    border-left: 0px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .crazy-waves-spesific-flex-item-slide2-item1 {
    background-image: url("../images/Home_crazySpots_pictures/picture_home_crazySpots_world_map_munich.jpg");
    flex-basis: 400px;
    width: 400px;
    height: 400px;
    margin: 0px;
    padding: 0px;
    border-left: 0px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .crazy-waves-spesific-flex-item-slide3-item1 {
    background-image: url("../images/Home_crazySpots_pictures/picture_home_crazySpots_world_map_skeleton.jpg");
    flex-basis: 400px;
    width: 400px;
    height: 400px;
    margin: 0px;
    padding: 0px;
    border-left: 0px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .crazy-waves-spesific-flex-item-slide1-item2 {
    order: 3;
    background-image: url("../images/Home_crazySpots_pictures/picture_home_crazySpots_bear_island_web.jpg");
    flex-basis: 500px;
    width: 500px;
    height: 400px;
    margin: 0px;
    border-left: 0px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .crazy-waves-spesific-flex-item-slide2-item2 {
    order: 3;
    background-image: url("../images/Home_crazySpots_pictures/picture_home_crazySpots_munich_web.jpg");
    flex-basis: 500px;
    width: 500px;
    height: 400px;
    margin: 0px;
    border-left: 0px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .crazy-waves-spesific-flex-item-slide3-item2 {
    order: 3;
    background-image: url("../images/Home_crazySpots_pictures/picture_home_crazySpots_skeleton_web.jpg");
    flex-basis: 500px;
    width: 500px;
    height: 400px;
    margin: 0px;
    border-left: 0px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .crazy-waves-spesific-flex-item-item3 {
    order: 2;
    flex-basis: 80%;
    width: 80%;
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }

  .crazy-waves-spesific-flex-item-item4 {
    order: 4;
    padding: 10px;
    flex-basis: 80%;
    width: 80%;
    margin: 0px;
    border-left: 0px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .mySlides {
    margin-top: 8%;
  }

  .post-item {
    flex-basis: 100%;
    max-width: 400px;
    margin: 2% 1% 2% 1%;
    border: 1px solid lightgray;
  }

  .post-item p {
    padding-right: 4px;
    padding-left: 4px;
  }

  .post-image {
    height: 190px;
  }

  .post-title {
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
  }

  .post-dates {
    font-size: 1rem;
  }

  .prev,
  .next {
    padding: 12px;
    font-size: 12px;
  }

  .dot {
    height: 10px;
    width: 10px;
  }

  /* Number text (1/4 etc) */
  .numbertext {
    font-size: 12px;
    top: 1%;
  }
  /* INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX STOP LITTLESCREEN*/

  /* BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG START LITTLESCREEN*/
  .search-container {
    margin-bottom: 50px;
    margin-right: 50px;
  }
  .blog-container {
    margin: 0%;
    padding-top: 20%;
    background-color: white;
  }

  .blog-results {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    /*justify-content: center;*/
    /*align-content: center;*/
    margin-top: 0%;
    /*border: 1px solid black;*/
  }

  .blog-item {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    /*justify-content: center;*/
    align-content: center;
    /*margin: 0% 0% 0% 0%;
    padding: 0%;*/
    text-decoration: none;
    background-color: white;
    border-bottom: 1px solid lightgray;
  }

  .blog-item:first-child {
    border-top: 1px solid lightgray;
  }

  .blog-image {
    display: block;
    height: 40vh;
    width: 80%;
    background-position: top center;
    opacity: 0.7;
    background-size: cover;
    margin-left: 10%;
    padding: 0%;
    border: 1px solid black;
  }

  .blog-details {
    display: block;
    width: 80%;
    padding: 4%;
    /*border: 1px solid black;*/
    margin-left: 10%;
    /*margin: auto 0;*/
    /*position: top;2*/
    background-color: #f7fff2;
  }

  .blog-title {
    font-size: 1.5rem;
    border-bottom: 1px solid lightgray;
    /*font-size: 1.5rem;*/
    margin-bottom: 0.75rem;
    text-align: left;
    color: #1273eb;
  }

  .blog-dates {
    color: #717171;
    font-size: 1.2rem;
    padding: 0%;
  }

  .load-more-button {
    margin: 20px 0% 20px 40%;
  }

  /* BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG BLOG START LITTLESCREEN*/

  /* BLOG-SPESIFIC BLOG-SPESIFIC BLOG-SPESIFIC BLOG-SPESIFIC START LITTLESCREEN*/

  .blog-spesific-title {
    font-size: 1.2rem;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
  }

  .paragraph-rules-blog-spesific {
    width: 80%;
    margin: 0% 0% 30px 10%;
  }

  .blog-spesific-image img {
    width: 100%;
  }

  .modal-content {
    width: 100%;
  }

  /* The Close Button */
  .close {
    font-size: 20px;
  }

  figcaption {
    font-size: 0.8rem;
  }

  .blog-spesific-quote {
    font-size: 0.8rem;
    width: 80%;
    padding: 0% 0% 0% 10px;
    margin: 0% 0% 30px 10%;
  }

  .blog-spesific-quote p {
    font-size: 1.2rem;
  }

  .blog-spesific-dates {
    font-size: 1rem;
    margin-left: 10%;
  }

  /* BLOG-SPESIFIC BLOG-SPESIFIC BLOG-SPESIFIC BLOG-SPESIFIC END LITTLESCREEN*/

  /* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT START LITTLESCREEN*/
  .postcard {
    width: 100px;
    height: 130px;
  }

  .postcard1 {
    background-image: url("../images/About_pictures/picture_about_photo1_mobile.jpg");
    top: 30%;
    left: 30%;
  }

  .postcard2 {
    background-image: url("../images/About_pictures/picture_about_photo2_mobile.jpg");
    top: 30%;
    left: 45%;
  }

  .postcard3 {
    background-image: url("../images/About_pictures/picture_about_photo3_mobile.jpg");
    top: 50%;
    left: 55%;
  }

  .paragraph-rules-about {
    width: 80%;
    margin: 0% 0% 30px 10%;
  }

  .profile-container {
    min-height: 20vh;
    width: 80%;
    margin-left: 10%;
  }

  .profile-picture {
    width: 60px;
    height: 55px;
    padding: 0px;
    margin: 4% 0% 4% 4%;
    border: 2px solid #f8f8f8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .profile-content-container {
    width: 65%;
    margin-left: 8%;
  }

  /* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT STOP LITTLESCREEN*/

  /* CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT LITTLESCREEN START*/
  .contact-container {
    margin: 0% 0% 0% 0%;
    padding: 160px 0px 120px 0px;
  }

  .form-part {
    border-bottom: 1px dashed #626657;
    width: 90%;
    padding: 10px 0px;
    margin: 0% 0% 0% 5%;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
  }

  .form-subject {
    display: inline-block;
    width: 100%;
  }

  .form-input {
    display: inline-block;
    width: 100%;
  }

  form .formFirstLine {
    display: inline-block;
    margin-left: 0%;
  }

  form .formSecondLine {
    display: inline-block;
    margin-left: 5px;
  }

  form input[type="text"],
  form input[type="email"],
  form textarea {
    border: 1px solid darkgray;
    border-radius: 4px;
    width: 90%;
  }

  .form-error {
    font-size: 0.8rem;
    display: inline-block;
    width: 90%;
    color: red;
    margin-left: 0%;
    margin-top: 0%;
  }

  .form-accept {
    color: green;
    float: right;
    width: 16px;
    margin-top: 1%;
  }

  /* CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT LITTLESCREEN END*/

  /* MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC START LITTLESCREEN*/
  .loader {
    border: 12px solid #f3f3f3;
    border-top: 12px solid #1273eb;
    width: 80px;
    height: 80px;
  }

  .error {
    width: 400px;
    height: 400px;
    font-size: 1.2rem;
  }

  .error:before {
    font-size: 1.2rem;
  }

  /* MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC STOP LITTLESCREEN*/
}
